packages/api/client/client.dist.js
packages/api/data/*.mmdb
packages/api/data/*.tmp

**/.env*
!**/.env.sample
**/node_modules/
**/dist/
**/.next/
**/dist/
**/coverage/
**/zap-reports/
**/stats.html
.idea/
.vscode/
.DS_Store