APP_ENV=local
DEBUG=pulsio:*,-pulsio:db
TZ=UTC
DB_URI=postgresql://user:password@127.0.0.1/pulsio
CH_URI=http://user:password@127.0.0.1:8123/pulsio
CACHE_URI=redis://user:password@127.0.0.1:6379
SMTP_URI=smtp://user:password@localhost:1025

EMAIL_FROM=no-reply@pulsio.live
QUEUE_NAME=pageviews
BATCH_SIZE=500
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WS_SECRET_KEY=

SUPERADMIN_USERNAME=user
SUPERADMIN_PASSWORD=password
DASHBOARD_USERNAME=user
DASHBOARD_PASSWORD=password

COOKIE_DOMAIN=
API_URL=http://localhost:8080
WEBSITE_URL=http://localhost:3000
WEBAPP_URL=http://localhost:3001
SUPERADMIN_URL=http://localhost:3002
